
{% extends 'TicketUser/base.html' %}

{% block admin_action %}

<div class="container mt-5">
  <h3 class="text-center">Admin Action</h3>

  <div class="row justify-content-md-center my-2">
    {% if messages %}
      {% for message in messages %}
          <div class="fw-semibold alert alert-{{message.extra_tags}}">{{message}}</div>
      {% endfor %}
    {% endif %}
  </div>

  <form method='POST' novalidate>
    {% csrf_token %}
    <div class="mb-3">
      <label for="ticket_title" class="form-label">Ticket ID:</label>
      {{ticket_obj.ticket_reference_number}}
    </div>
    <div class="mb-3">
      <label for="ticket_desc" class="form-label">Select Agent:</label>
      {{form.agent_id}}
    </div>
    <div class="mb-3">
      <label for="organization_name" class="form-label">Admin Remark to agent:</label>
      {{form.admin_to_agent_remark}}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock %}