{% extends 'TicketUser/base.html' %}

{% block admin_dashboard %}
<div>
  <h3 class='text-senter'>Ticket List</h3>
    
  <table class="table">
    <thead>
      <tr>
        <th scope="col">s.No.</th>
        <th scope="col">Ticket Number</th>
        <th scope="col">Ticket title</th>
        <th scope="col">Ticket Status</th>
        <th scope="col">Action</th>
        <th scope="col">View Details</th>
      </tr>
    </thead>
    <tbody>
      {% for d in data %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{d.ticket_reference_number}}</td>
        <td>{{d.ticket_title}}</td>
        <td>{{d.ticket_status}}</td>
        {% if d.ticket_status.status == 'closed' %}
        <td>Closed</td>
        {% elif d.ticket_status.status == 'open' %}
        <td><a href="{% url 'TicketUser:admin_action' d.id %}">Assign Ticket</a></td>
        {% else %}
        <td>-----</td>
        {% endif %}
        <td><a href="{% url 'TicketUser:admin_view_ticket' d.id %}">View</a></td>
        
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}