{% extends 'TicketUser/base.html' %}

{% block agent_view_ticket %}

<div class="my-3">
  <h3 class='text-center'>Ticket Details</h3>


  <div class="row justify-content-md-center my-2">
    {% if messages %}
      {% for message in messages %}
          <div class="fw-semibold alert alert-{{message.extra_tags}}">{{message}}</div>
      {% endfor %}
    {% endif %}
  </div>

  <div class="my-2">
    <div class="row">
      <div class="col-4">Ticket Reference Number : </div>
      <div class="col-8">{{ticket_data.ticket_reference_number}}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col-4">Ticket title : </div>
      <div class="col-8">{{ticket_data.ticket_title}}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col-4">Ticket Description : </div>
      <div class="col-8">{{ticket_data.ticket_desc}}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col-4">User Upload Doc : </div>
      <div class="col-8">
        {% if ticket_data.ticket_user_uploaded_document != '' %}
            <a style="text-decoration: none;color:black" href="/media/{{ticket_data.ticket_user_uploaded_document}}" download>
                <div class="tools-section-button fw-bold text-danger">Download</div>
            </a> 
        {% else %}
            -
        {% endif %}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-4">Ticket Status : </div>
      <div class="col-8">{{ticket_data.ticket_status.status}}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col-4">Website URL : </div>
      <div class="col-8">{{ticket_data.organization_website_url}}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col-4">Related Area : </div>
      <div class="col-8">{{ticket_data.ticket_related_area}}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col-4">Technology Stack : </div>
      <div class="col-8">
        {% for data in ticket_data.ticket_technology_stack.all %}
        {{ data.Technology_Stack_Name }}{% if ticket_data.ticket_technology_stack.all|length > forloop.counter %}, {% endif %}
        {% endfor %}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-4">Technical person email : </div>
      <div class="col-8">{{ticket_data.technical_person_email}}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col-4">Technical person contact number : </div>
      <div class="col-8">{{ticket_data.technical_person_contact_number}}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col-4">Admin to agent remark : </div>
      <div class="col-8">{% if admin_action.admin_to_agent_remark %}{{admin_action.admin_to_agent_remark}}{% else %} - {% endif %}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col-4">Ticket creation date : </div>
      <div class="col-8">{{ticket_data.ticket_created_date}}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col-4">Ticket updation date : </div>
      <div class="col-8">{{ticket_data.ticket_user_last_updated_date}}</div>
    </div>
    <hr>

    {% if ticket_data.ticket_status.status == 'assigned' or ticket_data.ticket_status.status == 'data provided' or ticket_data.ticket_status.status == 'reopen' or ticket_data.ticket_status.status == 'reassigned' %}
    <a href="{% url 'TicketUser:attended_view' ticket_data.id %}">Attend Ticket</a>
    {% endif %}

    <h3 class="text-center">View Conversation</h3>
    {% for d in data %}
    {% if d.agent_resp.agent_action.status == 'attending' %} 
    <div class='bg-warning-subtle'>
      Agent Attended Ticket on  {{d.agent_resp.agent_ticket_action_date}} 
      <br>
    </div>
    {% else %}
    <div>
      <h4>agent response</h4>
      agent : {{d.agent_action.agent_id.user_id.username}}
      <br>
      agent remark : {{d.agent_resp.agent_to_user_remark}}
      <br>
      agent uploaded doc : {{d.agent_resp.agent_ticket_upload_document}}
      <br>
      agent status : {{d.agent_action.agent_action}}
      <br>
      {% if d.user_resp %}
      <h4>user response</h4>
      user remark : {{d.user_resp.user_ticket_reopen_data_description}}
      <br>
      user doc : {{d.user_resp.user_ticket_reopen_docs}}
      <br>
      user status : {{d.user_resp.user_ticket_action_on_agent_response}}
      {% endif %}
    </div>
    <hr>
    {% endif %}
    {% endfor %}

    {% if ticket_data.ticket_status.status == 'attending' %}
    <div>
      <form method='POST' novalidate>
        {% csrf_token %}
        <div class="mb-3">
          <label for="organization_name" class="form-label">Agent Remark to admin:</label>
          {{form.agent_to_admin_remark}}
        </div>
        <div class="mb-3">
          <label for="organization_name" class="form-label">Agent Remark to user:</label>
          {{form.agent_to_user_remark}}
        </div>
        <div class="mb-3">
          <label for="organization_name" class="form-label">Agent uploaded document:</label>
          {{form.agent_ticket_upload_document}}
        </div>
        <div class="mb-3">
          <label for="organization_name" class="form-label">Agent Action:</label>
          {{form.agent_action}}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    {% endif %} 

  </div>
</div>

{% endblock %}