{% extends 'TicketUser/base.html' %}

{% block agent_action %}

<div class="container mt-5">
  <h3 class="text-center">Agent Action</h3>

  <div class="row justify-content-md-center my-2">
    {% if messages %}
      {% for message in messages %}
          <div class="fw-semibold alert alert-{{message.extra_tags}}">{{message}}</div>
      {% endfor %}
    {% endif %}
  </div>

  <form method='POST' novalidate>
    {% csrf_token %}
    <div class="mb-3">
      <label for="ticket_title" class="form-label">Ticket ID:</label>
      {{form.ticket_id}}
    </div>
    <div class="mb-3">
      <label for="ticket_desc" class="form-label">Select Agent:</label>
      {{form.agent_id}}
    </div>
    <div class="mb-3">
      <label for="organization_name" class="form-label">Agent Remark to admin:</label>
      {{form.agent_to_admin_remark}}
    </div>
    <div class="mb-3">
      <label for="organization_name" class="form-label">Agent Remark to user:</label>
      {{form.agent_to_user_remark}}
    </div>
    <div class="mb-3">
      <label for="organization_name" class="form-label">Agent uploaded document:</label>
      {{form.agent_ticket_upload_document}}
    </div>
    <div class="mb-3">
      <label for="organization_name" class="form-label">Agent Action:</label>
      {{form.agent_action}}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock %}