{% extends 'TicketUser/base.html' %}

{% block agent_dashboard %}

<div>
  <h3 class='text-senter'>Ticket List</h3>
    
  <table class="table">
    <thead>
      <tr>
        <th scope="col">s.No.</th>
        <th scope="col">Ticket Number</th>
        <th scope="col">Ticket title</th>
        <th scope="col">Ticket Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for d in data %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{d.ticket_id.ticket_reference_number}}</td>
        <td>{{d.ticket_id.ticket_title}}</td>
        <td>{{d.ticket_id.ticket_status}}</td>
        {% comment %} {% if d.ticket_id.ticket_status.status == 'closed' %}
        <td>Closed</td>
        {% else %} {% endcomment %}
        <td><a href="{% url 'TicketUser:agent_view_ticket' d.ticket_id.id %}">View Ticket</a></td>

        {% comment %} {% endif %} {% endcomment %}
        
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}