{% extends 'TicketUser/base.html' %}

{% block create_ticket %}

<div class="container mt-5">
  <h3 class="text-center">Create Ticket</h3>

  <div class="row justify-content-md-center my-2">
    {% if messages %}
      {% for message in messages %}
          <div class="fw-semibold alert alert-{{message.extra_tags}}">{{message}}</div>
      {% endfor %}
    {% endif %}
  </div>

  <form method='POST' novalidate>
    {% csrf_token %}
    <div class="mb-3">
      <label for="ticket_title" class="form-label">Ticket title:</label>
      {{form.ticket_title}}
    </div>
    <div class="mb-3">
      <label for="ticket_desc" class="form-label">Ticket desc:</label>
      {{form.ticket_desc}}
    </div>
    <div class="mb-3">
      <label for="ticket_user_uploaded_document" class="form-label">Ticket user uploaded document:</label>
      {{form.ticket_user_uploaded_document}}
    </div>
    <div class="mb-3">
      <label for="organization_name" class="form-label">Organization name:</label>
      {{form.organization_name}}
    </div>
    <div class="mb-3">
      <label for="organization_website_url" class="form-label">Organization website url:</label>
      {{form.organization_website_url}}
    </div>
    <div class="mb-3">
      <label for="organization_category" class="form-label">Organization category:</label>
      {{form.organization_category}}
    </div>
    <div class="mb-3">
      <label for="ticket_related_area" class="form-label">Ticket related area:</label>
      {{form.ticket_related_area}}
    </div>
    <div class="mb-3">
      <label for="ticket_technology_stack" class="form-label">Ticket technology stack:</label>
      {{form.ticket_technology_stack}}
    </div>
    <div class="mb-3">
      <label for="technical_person_name" class="form-label">Technical person name:</label>
      {{form.technical_person_name}}
    </div>
    <div class="mb-3">
      <label for="technical_person_email" class="form-label">Technical person contact number:</label>
      {{form.technical_person_contact_number}}
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Technical person email:</label>
      {{form.technical_person_email}}
    </div>
    <button type="submit" class="btn btn-primary">Raise Ticket</button>
  </form>
</div>

{% endblock %}