{% extends 'TicketUser/base.html' %}

{% block reopen %}

<div class="container mt-5">
  <h3 class="text-center">Reopen</h3>

  <div class="row justify-content-md-center my-2">
    {% if messages %}
      {% for message in messages %}
          <div class="fw-semibold alert alert-{{message.extra_tags}}">{{message}}</div>
      {% endfor %}
    {% endif %}
  </div>

  <form method='POST' novalidate>
    {% csrf_token %}
    <div class="mb-3">
      <label for="ticket_title" class="form-label">Ticket Number :</label>
      {{ticket_details.ticket_reference_number}}
    </div>
    <div class="mb-3">
      <label for="organization_name" class="form-label">user description:</label>
      {{form.user_ticket_reopen_data_description}}
    </div>
    <div class="mb-3">
      <label for="organization_name" class="form-label">Upload doc :</label>
      {{form.user_ticket_reopen_docs}}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock %}