{% extends 'TicketUser/base.html' %}

{% block user_dashboard %}

<div>
  <h3 class='text-senter mt-4'>Ticket List</h3>

  <span class="mx-2"><a class="btn btn-primary" href="{% url 'TicketUser:create_ticket' %}">Create Ticket</a></span>
    
  <table class="table">
    <thead>
      <tr>
        <th scope="col">s.No.</th>
        <th scope="col">Ticket Number</th>
        <th scope="col">Ticket title</th>
        <th scope="col">Ticket Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for d in data %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{d.ticket_reference_number}}</td>
        <td>{{d.ticket_title}}</td>
        <td>{{d.ticket_status}}</td>
        <td><a href="{% url 'TicketUser:user_view_ticket' d.id %}">View Ticket</a></td>

        
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}